

.container {
  padding: 0rpx 20rpx;
  l-tabs {
    // 标签栏样式
    .l-header-class{
      // margin: 0rpx;
    }
    // 标签页样式
    .l-content-class{
      // background-color: #e5c06c;
    }
    l-tabpanel {
      .tab-content {
        
        .preview {
          display: flex;
          padding: 10rpx;
          border: 1px solid #ff6f03;
          .tc{
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            .number{
              font-size: 35rpx;
              font-weight: 30rpx;
            }
          }
        }

        .time {

        }

        .alldata {

        }
      }
    }
  }
}

